body 
{
    background-image: url("./photo/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
#Login-conn
{
	margin-left: 80%;
	color: white;
	position: absolute;
	display: inline;
	margin-top: 8px;
}
h1
{
    text-align: center;
    padding-top: 10px;
    font-size: 45;
    color: white;
    font-family: georgia;
}

#prix-bat
{
    color: white;
    margin-left: 7.5%;
    margin-top: 200px;
}
#prix-cap
{
    color: white;
    margin-left: 30%;
    margin-top: -40px;
}
#prix-groot
{
    color: white;
    margin-left: 55%;
    margin-top: -40px;
}
#prix-harley
{
    color: white;
    margin-left: 80%;
    margin-top: -40px;
}
#Batman 
{
    display: inline;
    margin-left: 5.5%;
    width: 200px;
    height: 200px;
}
#captain
{
    display: inline;
    margin-left: 26%;
    width: 250px;
    height: 200px;
}
#groot
{
    display: inline;
    margin-left: 51%;
    width: 250px;
    height: 200px;
}
#Quinn
{
    display: inline;
    margin-left: 76%;
    width: 260px;
    height: 200px;
}
#freq
{
    margin-left: 10%;
    font-size: 20;
    color: white;
    font-family: georgia;
}
#Promo
{
    margin-left: 10%;
    font-size: 20;
    color: white;
    font-family: georgia;
}
#nav
{
    margin-top: -20px;
    position: relative;
    color: black;
    background-color: black;
    position: center;  
}
input
{
    margin-top: 15px;
}
img
{
    display: inline;
    position: absolute;
}

#aquaman
{
    display: inline;
    margin-left: 2.5%;
    width: 275px;
    height: 200px;
}
#widow
{
    display: inline;
    margin-left: 27.5%;
    width: 180px;
    height: 200px;
}
#rocket
{
    display: inline;
    margin-left: 48%;
    width: 275px;
    height: 200px;
}
#croc
{
   display: inline;
    margin-left: 78%;
    width: 180px;
    height: 200px; 
}
#prix-aqua
{
    color: white;
    margin-left: 8%;
    margin-top: 200px;
}
#prix-widow
{
    color: white;
    margin-left: 28.5%;
    margin-top: -40px;
}
#prix-rocket
{
    color: white;
    margin-left: 52%;
    margin-top: -40px;
}
#prix-croc
{
    color: white;
    margin-left: 80%;
    margin-top: -40px;
}
#prix-aqua2
{
    color: red;
    margin-left: 8%;
    margin-top: -60px;
    text-decoration:line-through;
}
#prix-widow2
{
    text-decoration:line-through;
    color: red;
    margin-left: 28.5%;
    margin-top: -40px;
}
#prix-croc2
{
    color: red;
    margin-left: 80%;
    margin-top: -40px;
    text-decoration:line-through;
}
#prix-rocket2
{
    color: red;
    margin-left: 52%;
    margin-top: -40px;
    text-decoration:line-through;
}

#menu, #menu ul{
padding:0;
margin:0;
list-style:none;
text-align:center;
}
#menu li{
display:inline-block;
position:relative;
}
#menu ul li{
display:inherit;
border-radius:0;
}
#menu ul{
position:absolute;
z-index: 1000;
max-height:0;
left: 0;
right: 0;
overflow:hidden;
-moz-transition: .8s all .3s;
-webkit-transition: .8s all .3s;
transition: .8s all .3s;
}
#menu li:hover ul{
max-height:15em;
}
/* background des liens sous menus */
#menu li:first-child li{
background:black;
}
#menu li:nth-child(2) li{
background:black;
}
#menu li:nth-child(3) li{
background:black;
}
#menu li:nth-child(4) li{
background:black;
}
#menu li:last-child li{
background:black;
}
/* background des liens menus et sous menus au survol */
#menu li:first-child:hover, #menu li:first-child li:hover{
background:red;
}
#menu li:nth-child(2):hover, #menu li:nth-child(2) li:hover{
background:red;
}
#menu li:nth-child(3):hover, #menu li:nth-child(3) li:hover{
background:red;
}
#menu li:nth-child(4):hover, #menu li:nth-child(4) li:hover{
background:red;
}
#menu li:last-child:hover, #menu li:last-child li:hover{
background:red;
}
/* les a href */
#menu a{
text-decoration:none;
display:block;
padding:8px 32px;
color:#fff;
font-family:arial;
}
